h1
{
    background-color:teal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom-style: solid;
    border-bottom: 2px black;
    padding: 20px;
}

a
{
    background-color: rgb(0, 96, 96);
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black;
    border-style: solid;
}

a:active
{
    background-color: black;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}