h1{
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border-bottom-style: solid;
    border-bottom: 2px black;
    padding: 20px;
}

a{
    background-color: brown;
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    border: 2px black;
    border-style: solid;
}

a:active{
    background-color: red;
    padding: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px white;
    border-style: solid;
}